<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <title>Kurs Platformasi</title>
</head>
<body>
<a href="{% url 'home' %}">Asosiy sahifa</a>
<a href="{% url 'register' %}">Ro'yxatdan o'tish</a>
<a href="{% url 'login_view' %}">Kirish</a>
<a href="{% url 'logout_view' %}">Chiqish</a>
<div>
    {% for course in courses %}
    <a href="{% url 'course_students' course.id %}">{{ course.name }}</a>
    {% endfor %}
</div>

<div>
    {% block main %}
    {% endblock main %}
</div>

</body>
</html>
